html {
	font-size: 24px;
	text-align: center;
}

h1 {
	font-size: 1.2753rem;
}

img {
	box-sizing: 100%;
}

@media(min-width: 678px;){

	h1 {
		font-size: 2rem;
		align-content: center;
	}

	img {
		box-sizing: 70%;
		display: inline-block;
	}

}